services:
  grafana-otel-lgtm:
    container_name: grafana-otel-lgtm
    image: grafana/otel-lgtm:latest
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000" # Grafana UI
      - "4317:4317" # OTLP gRPC receiver
      - "4318:4318" # OTLP HTTP receiver
    networks:
      - monitoring-network
  otel-collector:
    container_name: otel-collector
    image: otel/opentelemetry-collector-contrib:latest
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./infra/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC receiver
      - "4318:4318" # OTLP HTTP receiver
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
    networks:
      - monitoring-network
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=MiPassSegura2024
      - GF_USERS_ALLOW_SIGN_UP=false
    networks:
      - monitoring-network
  jaeger:
    container_name: jaeger
    image: jaegertracing/all-in-one:latest
    environment:
      JAEGER_PROPAGATION: w3c
    ports:
      - "6831:6831/udp" # UDP port for Jaeger agent
      - "16686:16686" # Web UI
      - "14268:14268" # HTTP port for spans
    networks:
      - monitoring-network
  loki:
    image: grafana/loki:latest
    container_name: loki
    user: "0:0"
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/var/loki
      - ./infra/loki-config.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - monitoring-network
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    volumes:
      - ./infra/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring-network
  frontend: 
    container_name: frontend
    build:
      context: ./frontend/react
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    networks:
      - monitoring-network
  backnode: 
    container_name: node-backend
    build:
      context: ./backend/nodejs
      dockerfile: Dockerfile
    ports:
      - "4000:3000"
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb://root:mipasssegura2024@mongo:27017
      - MONGODB_DB_NAME=telemetry
      - MONGODB_TRACES_COLLECTION=otel_traces
      - MONGODB_LOGS_COLLECTION=otel_logs
      - MONGODB_METRICS_COLLECTION=otel_metrics
      - NODE_ENV=production
      - OTEL_URL=http://otel-collector:4318
    networks:
      - monitoring-network
    depends_on:
      - mongo
  mongo:
    container_name: mongo
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=mipasssegura2024
    networks:
      - monitoring-network
  slidev:
    container_name: slidev
    build:
      context: ./docs
      dockerfile: Dockerfile
    ports:
      - "3030:80"
    networks:
      - monitoring-network
    
networks:
  monitoring-network:
    driver: bridge
volumes:
  grafana-data: {}
  mongo-data: {}
  loki-data: {}